VITE_SUPABASE_URL=https://vpulmtktjiqyioxlnwbv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZwdWxtdGt0amlxeWlveGxud2J2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY4MzE0MDYsImV4cCI6MjEwMjQwNzQwNn0.05C-1YOUa2XEVip4I6he3OK2ToSOs2XdRRVbKwX1cu4
